.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-template-areas:
    "box1 box2 box3 box3"
    "box1 box5 box4 box6"
    "box7 box5 box8 box8";
}

.grid_container div {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.08);
  font-size: clamp(32px, 7vw, 110px);
  font-weight: 500;
  text-align: end;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  display: grid;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

#about,
#contact {
  background-size: cover;
}

.card img {
  display: none;
}

.card > * {
  grid-area: 1/1;
}

.card p {
  z-index: 1;
  user-select: none;
  place-self: end end;
  line-height: 0.8;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(236, 163, 112), rgb(99, 69, 47));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.landing-decor {
  display: block;
}

@media (max-width: 1023px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    grid-template-areas:
      "box1 box3"
      "box1 box6"
      "box8 box8";
  }

  .landing-decor {
    display: none;
  }
}

@media (max-width: 767px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    grid-template-areas:
      "box1"
      "box3"
      "box6" 
      "box8";
    height: 90%;
    width: 90%;
  }

  .grid_container div {
    border-radius: 1rem;
    font-size: clamp(36px, 10vw, 60px);
    background-position: center;
  }

  .card p {
    place-self: center;
    padding: 0;
  }

  .landing-decor {
    display: none;
  }
}
